# ----------------------
# Server configuration
# ----------------------

DEFAULT_PORT=22349
DEFAULT_HOST_NAME=db-server
DB_SERVER_URL=http://db-server:22349


# ----------------------
# MQTT configuration
# ----------------------

MQTT_SERVER=your_mqtt_server
MQTT_PORT=1883
MQTT_TOPIC1=/stream1
MQTT_TOPIC2=/stream2
MQTT_USER=your_mqtt_user
MQTT_PASSWORD=your_mqtt_password


# ----------------------
# REST endpoints
# ----------------------

REST_ENDPOINT_1=https://your-domain:8443/stream1/jpg
REST_ENDPOINT_2=https://your-domain:8443/stream2/jpg


# ----------------------
# Flask session
# ----------------------

SESSION_TYPE=filesystem


# ----------------------
# Email configuration
# ----------------------

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_app_password
MAIL_USE_TLS=False
MAIL_USE_SSL=True
